<ion-content>
   <ion-grid>
      <ion-row>

         <ion-col>
            <div>
               <p>EDI III</p>
            </div>
         </ion-col>

      </ion-row>

      <ion-row>

         <ion-col>
            <div>
               <p>Proyecto Final</p>
            </div>
         </ion-col>


      </ion-row>



      <ion-img src="assets/fondo.png"></ion-img>
      <ion-row>
         <ion-col></ion-col>
         <ion-col>
            <ion-button size="small" color="secondary" routerLink="/login">COMENZAR</ion-button>
         </ion-col>

         <ion-col></ion-col>

      </ion-row>

   </ion-grid>
</ion-content>